body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: Muli;
}

h1,
p,
h3 {
  margin: 0;
}
@font-face {
  font-family: Muli;
  src: url(Muli/Muli.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Muli;
  src: url(Muli/Muli-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Muli;
  src: url(Muli/Muli-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Muli;
  src: url(Muli/Muli-SemiBold.ttf);
  font-weight: 500;
}
